.hero{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('bg.jpg');
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero .hero-body .container .column .box{
	background: rgba(255, 255, 255,.6);
	/*box-sizing: border-box;*/
	/*box-shadow: 0 15px 25px rgba(0,0,0,0.5);*/
}
.hero .hero-body .container .column .box .msg{
	margin: 15px 0 0;
	color: rgb(102, 102, 255);
	font-size: 12px;
}

.hero .hero-body .container .column .box .msg a{
	color: rgb(0, 0, 255);
	text-decoration: none;
}

	